.navbar {
  background-color: #eaf0f6 !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.toggler {
  border-color: #007bff;
}

.searchInput {
  border-radius: 20px;
}

.searchButton {
  border-radius: 20px;
}

.d-flex {
  margin-right: 16%;
}

.username {
  font-size: 1rem;
  color: #333;
}

.username .fa-shopping-cart {
  cursor: pointer;
}

.username span:hover {
  color: #007bff; /* 鼠标悬停时更改颜色 */
}

.me-2{
  margin-left: 6%;
  margin-right: 46%;
}