body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.sidebar {
  width: 250px;
  background-color: #343a40;
  color: #fff;
  height: 100vh;
  position: fixed;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
}

.sidebar a:hover {
  background-color: #495057;
}

.main-content {
  margin-left: 250px;
}

.topbar {
  background-color: #f8f9fa;
  height: 60px;
  display: flex;
  align-items: center;
  padding: 0 20px;
  border-bottom: 1px solid #dee2e6;
  
}

.col{
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.addCartBtn {
  background-color: #28a745;
  border: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  margin-left: 50%;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.addCartBtn:hover {
  background-color: #218838;
  color: #fff;
}